{% load static %}
<nav class="navbar sticky-top navbar-expand-lg py-4 navigation header-padding" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'app/images/image_logo.png' %}" alt="" class="img-fluid w-25">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarsExample09">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link {% if "/" == request.path %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/profile" == request.path %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/about" == request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/services" == request.path %}active{% endif %}"
                       href="{% url 'book' %}">Book Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/contact" == request.path %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>

            {#            <a href="{% url 'signin' %}" class="btn btn-solid-border d-none d-lg-block">Sign in <i#}
            {#                    class="fa fa-angle-right ml-2"></i></a>#}
            <li class="nav-item dropdown">
                <a class="" href="#" role="button" data-bs-toggle="dropdown">{{ user.name }}</a>
                <a class="navbar-brand nav-link dropdown-toggle" href="#">
                <img src="{% static 'app/images/team/testimonial1.jpg' %} " alt="Avatar Logo" style="width:40px;"
                     class="rounded-pill">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'signout' %}">SIGN OUT</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>