{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/images/favicon.ico' %}"/>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'app/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{% static 'app/plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/modal-video/modal-video.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/animate-css/animate.css' %}">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="{% static 'app/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/slick-carousel/slick/slick-theme.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
{% include 'partials/navbar.html' %}
{% block content %}

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Main jQuery -->
<script src="{% static 'app/plugins/jquery/jquery.js' %}"></script>
<script src="{% static 'app/js/contact.js' %}"></script>
<!-- Bootstrap 4.3.2 -->
<script src="{% static 'app/plugins/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'app/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!--  Magnific Popup-->
<script src="{% static 'app/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<!-- Slick Slider -->
<script src="{% static 'app/plugins/slick-carousel/slick/slick.min.js' %}"></script>
<!-- Counterup -->
<script src="{% static 'app/plugins/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'app/plugins/counterup/jquery.counterup.min.js' %}"></script>

<script src="{% static 'app/plugins/modal-video/modal-video.js' %}"></script>
<!-- Google Map -->
<script src="{% static 'app/plugins/google-map/map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

<script src="{% static 'app/js/script.js' %}"></script>
{% include 'partials/footer.html' %}
</body>
</html>